---
layout: default.hbs
title: About
slug: about
lead: "Learn about the history of Bootstrap, meet the core team, and check out the ever-growing community resources."
base_url: "../"
---

<div class="docs-well">
    <strong>TEST</strong>
</div>
