---
title:          Button Tags
description:    Use the button classes on an &lt;a&gt;, &lt;button&gt;, or &lt;input&gt; element.
icon:           fa-anchor
published:      false
htmlCode:       true
---
<a class="btn btn-default" href="#" role="button">Link</a>
<button class="btn btn-default" type="submit">Button</button>
<input class="btn btn-default" type="button" value="Input">
<input class="btn btn-default" type="submit" value="Submit">

